$button-sizes:
//		Here you set button size names and the font size
//		------------------------------------------------
//		name				font-size
	(		'xsmall', 	12px		)
,	(		'small', 		14px		)
, (		'medium', 	16px		)
, (		'large', 		18px		);

$buttons:
//		Here you can add button types and set their styling
//		---------------------------------------------------
//		name					color			background-color
	(		'primary', 		white, 		$color-primary		)
,	(		'warning', 		white, 		$color-warning		)
, (		'default', 		white, 		$color-secondary	)
, (		'danger', 		white, 		$color-danger			)
, (		'success', 		white,		$color-success		)
, (		'inverse', 		white, 		$color-inverse		)
, (		'disabled', 	white, 		$color-disabled		);

.btn {
//		Basic button styling
	cursor: pointer;
	display: block;
	float: left;
	padding: $padding-vertical $padding-horizontal;
	margin: 5px 0;
	border: none;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	outline: 0;
	user-select: none;
	border-radius: 4px;
	transition: transform 100ms ease-in-out, box-shadow 100ms ease-in-out, background 100ms ease-in-out;
}

@each $button-size, $font-size in $button-sizes {
//		Loop through button sizes and font sizes

	@each $button-name, $button-text-color, $button-bg-color in $buttons {
//		Loop all defined buttons (and their settings) through all the sizes

		.btn--#{$button-name}--#{$button-size} {
//		Use the btn styling as a default
			@extend .btn;
			color: $button-text-color;
			font-size: $font-size;
			background-color: $button-bg-color;
			box-shadow: 0 2px 0 0 darken($button-bg-color, 10%);

			&:hover,
			&:focus {
				color: $button-text-color;
				text-decoration: none;
				background-color: lighten($button-bg-color, 5%);
			}
			&:active {
				background-color: darken($button-bg-color, 2%);
				transform: translateY(1px);
				box-shadow: 0 0 0 0 darken($button-bg-color, 10%);
			}
		}
	}
}