$form-input-margin: 0 0 20px 0;
$form-input-padding: 5px 10px;
$form-input-fontsize: $font-size-default;

$form-color-input-bg: #ffffff;

/* Forms
===========
Forms on the site.

    <form name="form" method="post" action="/"></form>
*/
form {

/*
    <fieldset></fieldset>
*/

    fieldset {
        width: 100%;
        border: none;
    }

    legend {
        display: none;
    }

    br {
        display: block;
        float: none;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

/*
    <input type="text"" name="name" value="" placeholder="default input" />
*/
    input:not(input[type=checkbox]):not(input[type=radio]):not(input[type=button]),
    select,
    textarea {
        position: relative;
        margin: $form-input-margin;
        padding: $form-input-padding;
        display: block;
        float: left;
        background-color: $form-color-input-bg;
        border: 1px solid transparent;
        @include font-size($form-input-fontsize);
    }

}