$color-primary: #ff3d15;
$color-secundary: #1c2a3b;

$color-body-bg: #f2f2f2;
$color-content-bg: #fff;

$color-link: $color-primary;
$color-link-hover: #55acee;



$color-primary:			#FF3D15 !default;
$color-secondary:		#1C2A3B !default;
$color-meta:				#E8E9EB !default;
$color-active:			#FF3D15 !default;
$color-important:		#FF7900 !default;
$color-warning:			#FFA70A !default;
$color-danger:			#DB0000 !default;
$color-success:			#57B401 !default;
$color-inverse:			invert($color-primary) !default;
$color-disabled:		#9B9B9B !default;
