//This is example code how you  can embed a font

// @font-face {
//     font-family: 'Open Sans';
//     font-style: normal;
//     font-weight: normal;
//     src: url('../assets/fonts/open-sans-regular.eot'); /* IE9 Compat Modes */
//     src: local('Open Sans'), local('OpenSans'),
//         url('../assets/fonts/open-sans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//         url('../assets/fonts/open-sans-regular.woff') format('woff'), /* Modern Browsers */
//         url('../assets/fonts/open-sans-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
//         url('../assets/fonts/open-sans-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
// }

// @font-face {
//     font-family: 'Open Sans';
//     font-style: normal;
//     font-weight: bold;
//     src: url('../assets/fonts/open-sans-700.eot'); /* IE9 Compat Modes */
//     src: local('Open Sans Bold'), local('OpenSans-Bold'),
//         url('../assets/fonts/open-sans-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//         url('../assets/fonts/open-sans-700.woff') format('woff'), /* Modern Browsers */
//         url('../assets/fonts/open-sans-700.ttf')  format('truetype'), /* Safari, Android, iOS */
//         url('../assets/fonts/open-sans-700.svg#OpenSans') format('svg'); /* Legacy iOS */
// }
