.browser-width {
    width: 100%;
    background-color: $color-body-bg;
}

.content-width {
    margin: 0 auto;
    max-width: 70em;
    background-color: $color-content-bg;
}


//TODO remove all underneath? why is this here? - JB

.wrapper {
    width: 100%;
    background-color: #ffffff;
}

section {
    margin: 0;

    &.main {
        margin: 30px 0 30px 0;
        padding-left: 105px;
    }
}

.articlerow {
    width: 100%;
    overflow: hidden;
    display: table;
}

article {
    position: relative;
    padding: 20px 10px 20px 10px;
    width: 50%;
    display: table-cell;
}