/* 
### Main navigation

	<nav class="mainnavigation">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">HTML/CSS Styleguide</a></li>
			<li><a href="#">Application docs</a></li>
		</ul>
	</nav>
*/
nav {

	&.mainnavigation {

		ul {
			width: 100%;
			list-style-type: none;
			overflow: hidden;
			background-color: $color-secundary;

			@include respond-to(480px) {
				background-color: red;
			}

			@include respond-to(768px, 1024px) {
				background-color: blue;
			}

			@include respond-to(ipad) {
				color: #000;
				background-color: yellow;
			}

			li {
				margin: 0;
				padding: 0;
				display: block;
				float: left;
				
				a {
					padding: 5px 25px 5px 25px;
					display: block;
					font-family: $font-headings;
					@include font-size(1.6rem);
					color: #ffffff;
				}
			}
		}
	}
}