/* 
### Global Page Header

	<header class="pageheader">
		<a href="/" class="logo" alt="/" title="homepage"></a>
		<h1>eFocus Base Boilerplate</h1>
		<h2>documentation and demo page</h2>
	</header>
*/
header {
	position: relative;

	&.pageheader {
		padding: 15px 0 0 105px;
		background-color: #ffffff;
		border-bottom: 1px solid #ccc;

		.logo {
			position: absolute;
			top: 20px;
			left: 15px;
			width: 75px;
			height: 75px;
			background-image: url(../assets/svg/efocus-icon.svg);
			background-position: 50% 50%;
			background-size: cover;
			background-repeat: no-repeat;
		}

		h1 {
			margin: 10px 20px 0 0;
			@include font-size(3rem);
			line-height: 1.4;
			color: $color-secundary;
			font-weight: bold;
		}

		h2 {
			margin: 0 20px 25px 0;
			font-family: $font-primary;
			@include font-size(2rem);
			line-height: 1;
			color: $color-secundary;
		}
		
	}

}

/* 
### Section Header

	<section>
		<header>
			<h1><span class="icon--check"></span>Setup complete!</h1>
		</header>
	</section>
*/
section {
	header {
        position: relative;
        padding: 20px 25px 20px 25px;
        width: 100%;
        background-color: #ffffff;
        border-bottom: 1px solid $color-link-hover;

		h1 {
			position: relative;
			margin: 0 20px 0 0;
			padding-left: 30px;
			@include font-size(2.4rem);
			line-height: 1;
			color: $color-link-hover;
		}
    }
}

/* 
### Article Header

	<article>
		<header>
			<h2>Default article header</h2>
		</header>
	</article>
*/
article {
	header {
        position: relative;
        padding: 0 15px 0 15px;
        width: 100%;
        background-color: none;
        border: none;

		h2 {
			margin: 0 0 15px 0;
			font-family: $font-primary;
			@include font-size(1.8rem);
			line-height: 1;
		}
    }
}