// 'respond-to' adds element based proportional media queries
// for more information on proportional media queries: http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw/
//
// Proportional: 100% = 1 em ~= 16px ~= 14pt
// the default font size in the browser is usually approximately 16px and usually approximately 14pt but always 100% and 1em.
//
// @param {string} $size Value (in pixels) or a string: 'ipad', 'ipad-portrait', 'ipad-landscape' or 'retina'
// @param {string} $end [Optional] Value (in pixels), end of breakpoint behaviour
//
// example:
// .h1 {
//      color: red;
//
//      @include respond-to(320px) {
//          color: blue;
//      }
//
//      @include respond-to(ipad) {
//          color: yellow;
//      }
//
//      @include respond-to(768px, 1024px) {
//          color: green;
//      }
// }
//
// H1's default color is red, at 320px it turns blue and between 768px and 1024px H1 is green (if > 1024px, H1 is blue!)
// On iPads H1 is yellow
//
//
@mixin respond-to($size, $end: false) {

		@if ($size == ipad) {
				@media only screen and (min-device-width : em(768px)) and (max-device-width : em(1024px)) {
						@content;
				}
		}
		@else if ($size == ipad-portrait) {
				@media only screen and (min-device-width : em(768px)) and (max-device-width : em(1024px)) and (orientation : portrait) {
						@content;
				}
		}
		@else if ($size == ipad-landscape) {
				@media only screen and (min-device-width : em(768px)) and (max-device-width : em(1024px)) and (orientation : landscape) {
						@content;
				}
		}
		@else if ($size == retina) {
				@media only screen and (-webkit-min-device-pixel-ratio: 2),
								only screen and (-moz-min-device-pixel-ratio: 2),
								only screen and (-ms-min-device-pixel-ratio: 2),
								only screen and (-o-min-device-pixel-ratio: 2/1),
								only screen and (min-device-pixel-ratio: 2),
								only screen and (min-resolution: 192dpi),
								only screen and (min-resolution: 2dppx) {
										@content;
								}
		}
		@else {
				@if $end != false {
						@media only all and (min-width: em($size)) and (max-width: em($end)) {
								@content;
						}
				}
				@else {
						@media only all and (min-width: em($size)) {
								@content;
						}
				}
		}
}

// @param $size Value should be in rem's!
// adds fallback for browsers which do not support rem (in pixels)
@mixin font-size($size) {
		font-size: (strip-units($size) * 10) * 1px;
		font-size: $size;
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

///////
//  VERTICALLY ALIGN BLOCKS
///////

%middle-align {
	display: table;
	height: 100%;
}

%middle-align-box {
	display: table-cell;
	vertical-align: middle;
}

///////
//  ENABLE FLEXBOX ON A ELEMENT
///////

%flexbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: flex-start;
}

///////
//  VISIBILITY
///////

%hidden {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	clip: rect(0, 0, 0, 0);
}
%invisible {
	visibility: hidden;
}