$font-primary:				'arial';
//$font-primary-bold:		'open sans bold';
$font-fallback:				helvetica, sans-serif;

$font-default: 				$font-primary, $font-fallback;
$font-headings: 			$font-primary, $font-fallback;

$font-size-default: 	1.6rem;

$font-size-h1: 				3rem !default;
$font-size-h2: 				2.4rem !default;
$font-size-h3: 				2.2rem !default;
$font-size-h4: 				2.0rem !default;
$font-size-h5: 				1.8rem !default;
$font-size-h6: 				1.6rem !default;

$padding-vertical: 		10px !default;
$padding-horizontal: 	14px !default;