/* 
### Global Page Footer

    <footer class="pagefooter">
        <p class="copyrights">(c) 2015 by eFocus, <a href="http://efocus.nl">www.efocus.nl</a>.</p>
    </footer>
*/
footer {
    position: relative;

    &.pagefooter {
        padding: .5rem 5% 2rem 10%;
        background-color: #ffffff;
        border-top: 1px solid #ccc;
        text-align: right;

        p {
            @include font-size(1rem);
            line-height: 1;
            color: $color-secundary;
            text-transform: uppercase;
        }
    }
}

/* 
### Article Footer
    
    <article>
        <footer>
            <a href="#">go to the documentation</a>
        </footer>
    </article>
*/
article {

    footer {
        padding: 5px 15px 5px 15px;
        border-top: 1px solid #c6cace;
    }
}
