* {
	margin: 0;
	padding: 0;
	border: none;
	word-break: break-word;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

html, body {
	width: 100%;
	height: 100%;
}

html {
	font-size: 62.5%;
	font-smoothing: antialiased;
	text-rendering: optimizedLegibility;
	text-size-adjust: none;
}

body {
	@include font-size($font-size-default);
	color: #000000;
	font-family: $font-default;
	line-height: 1.2;
	background-color: $color-body-bg;
	overflow-scrolling: touch;
}

p {
	@include font-size($font-size-default);
	font-family: $font-default;
}

strong {
	font-weight: bold;
}

a {
	color: $color-link;
	text-decoration: none;

	&:hover {
		color: $color-link-hover;
		text-decoration: underline;
	}

	&:active {
		color: $color-link-hover;
	}

	img {
		border: none;
	}
}
